.idea/
*.VC.opendb
*/Debug/**
*.sdf
ScrapPad/SrapPad/Debug/**
ScrapPad/ScrapPad/Debug/**
ScrapPad/ScrapPad/Debug/**
.DS_Store
*.swp
*~.nib

build/
Debug/
Build/
Release/

*.pbxuser
*.perspective
*.perspectivev3
*/enc_temp_folder/*
StrassenAlgorithm/StrassenAlgorithm.xcodeproj/xcuserdata/jeremyhartmann.xcuserdatad/xcdebugger/*
